<h2>create post</h2>
<form action="/post/create" method="post">
  <input type="text" name="title" required />
  <input type="text" name="description" required />
  <button type="submit">submit</button>
</form>
