<h2>signin</h2>
<form action="/user/signin" method="post">
  <input type="email" name="email" required />
  <input type="password" name="password" required />
  <button type="submit">submit</button>
</form>
